<!-- index.html (myTemplate) -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to my site</h1>
        {{msg}}
        {{foo}}
    <hr>
    <em>
        {{ now }}
    </em>
</body>
</html>