<!-- base.html (Model_DB project) -->
<!DOCTYPE html>
<html> <head> <meta charset='utf-8'>
<title>{% block title %}{% endblock %}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"crossorigin="anonymous">

<!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstraptheme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"crossorigin="anonymous"></script>

<script>
function go_delete(id){
    var user_pass = document.getElementById('user_pass').value;
    if (user_pass != "") {
        var usr = '/' + id + '/' + user_pass;
        window.location = usr;
    }
    else{
        alert("請填刪除密碼");
    }
}
</script>


 <style>
 h1, h2, h3, h4, h5, p, div {
 font-family: 微軟正黑體;
 }
 </style>
 <head>
<body>

<form name='my form' action='/' method='GET'>
    現在的心情：<br/>
    {% for m in moods %}
        <input type='radio' name='mood' value='{{ m.status }}'>{{ m.status }}
    {% endfor %}
    <br/>
    
    心情留言板：<br/>
    <textarea name='user_post' rows=3 cols=70></textarea><br/>
    <label for='user_id'>你的暱稱：</label>
    <input id='user_id' type='text' name='user_id'>
    <label for='user_pass'>張貼密碼：</label>
    <input id='user_pass' type='password' name='user_pass'><br/>
    <input type='submit' value='張貼'>
    <input type='reset' value='清除重填'>
<hr>

{% if message %}
    <div class='alert alert-warning'>
            {{ message }}
     </div>
{% endif %}


<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                     <h3>~~寶寶心裡苦，寶寶只在這裡說~~</h3>
            </div>
        </div>
    </div>
</div>

<hr>
    <div class="row">
        {% for p in posts %}
         <div class="col-sm-12 col-md-4">
            <div class='panel panel-primary'>
                <div class='panel-heading'>【{{ p.nickname }}】覺得{{ p.mood }}</div>
                    <div class='panel-body'>{{ p.message | linebreaks }}</div>
                <div class='panel-footer' align='right'>
                    <i><small>{{ p.pub_time }}</small></i>
                                  <span class="glyphicon glyphicon-trash" onclick='go_delete({{p.id}})'></span> <!-- 刪除貼文的"垃圾桶按鈕" --> 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

 </form>

 </body>
 </html>