
<a href='/admin' >admin<a/><br>
<a href='/' >INDEX<a/><hr>

<form name='my form' action='/about' method='GET'>
    
    <label for='user_id'>Your ID:</label>
    <input id='user_id' type='text' name='user_id'>
    <label for_'user_pass'>Your Password:</label>
    <input id='user_pass' type='password' name='user_pass'>
    <input type='submit' value='登入'>
    <input type='reset' value='清除重填'><br><hr>

    最喜歡的水果(複選)<br>
    <label for='flist'>水果種類如下:</label>
    <select name='flist'>
    <option value='0'>Apple</option>
    <option value='1'>Banana</option>
    <option value='2'>Cherry</option>
    </select><br><hr>

    最喜歡的顏色(複選)<br>
    <input type='checkbox' name='cfcolor'
    value='Green'>Green<br>
    <input type='checkbox' name='cfcolor'
    value='Blue'>Blue<br>
    <input type='checkbox' name='cfcolor'
    value='Red'>Red<br>
    <input type='checkbox' name='cfcolor'
    value='Black'>Black
    <br><hr>

    最喜歡的顏色(單選)<br>
    <input type='radio' name='fcolor' value='Green'
    checked>Green<br>
    <input type='radio' name='fcolor'
    value='Blue'>Blue<br>
    <input type='radio' name='fcolor'
    value='Red'>Red<br>
    <input type='radio' name='fcolor'
    value='Black'>Black<br><hr>

    <label for='byear'>出生年:</label>
    <select name='byear'>
    {% for year in years %}
    <option value='{{ year }}'>{{ year }} </option>
    {% endfor %}
    </select><br>

     <!--  輸出之後會 print 呈現結果  --> 
       您剛剛輸入: {{se_year}} 年<br>
<hr>

請選擇一個喜歡的顏色:
<input type='checkbox' name='fcolor' value='Green'>Green
<input type='checkbox' name='fcolor' value='Red'>Red
<input type='checkbox' name='fcolor' value='Blue'>Blue
<input type='checkbox' name='fcolor' value='Yellow'>Yellow
<input type='checkbox' name='fcolor' value='Orange'>Orange

    <br>顏色喜好:<!-- urfcolor --> 

    {% for c in urfcolor %}
    {{ c }}
    {% empty %}
    沒有選擇任何顏色
    {% endfor%}
    <hr>

    最喜歡的電影(複選)<br>
    <label for='fmovie'>電影選項:</label>
    <select name='fmovie'>
    <option value='0'>forzen2</option>
    <option value='1'>美國隊長</option>
    <option value='2'>玩命關頭7</option>
    <option value='2'>玩具總動員3</option>
    </select><br>
    
    <br>喜歡看的電影:<!-- urfcolor --> 

    {% for c in fmovie %}
    {{ c }}
    {% empty %}
    沒有選擇電影
    {% endfor%}
    <hr>



</form><br>



