<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to my site</h1>
        {{msg}}

        <li><a href='/tv'>中文頻道</a></li>
        <li><a href='/engtv'>英文頻道</a></li>
        <li><a href='/carlist'>CarLits</a></li>
        <li><a href='/carprice'>carprice</a></li>
    <hr>
    <em>
        {{ now }}
    </em>
</body>
</html>