<!-- engtv.html (myTemplate) -->
 {% extends "base.html" %}
 {% block title %}English News {% endblock %}
 {% block tvname %} {{tv.name}} {% endblock %}
 {% block menu %}
                <ul class='nav navbar-nav'>
                    <li class='active'><a href='/engtv/4'>Engtv</a></li>
                        {% for t in tv_list %}
                         <li>
                         <a href='{% url 'engtv-url' forloop.counter0 %}'>
                         {{ t.name }}
                         </a>
                         </li>
                        {% endfor %}
                </ul>
 {% endblock %}
{% block content %}
 <div class='conatiner'>
    <div id='tvcode' align='center'>
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/{{tv.tvcode}}?autop
        lay=1" frameborder="0" allowfullscreen></iframe>
    </div>
 </div>
{% endblock %}
