
 <!-- base.html (p06 Template project) -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
        <title>{% block title %}{% endblock %}</title>
    <link 
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
    integrity="sha384-
    1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
    crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link 
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
    crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous">
    </script>
</head>
<body>
    <nav class='navbar navbar-default'>
      
        <div class='container-fluid'>
         {% load static %}
            <div class='navbar-header'>
                  <img src="{% static "images/mypet_logo.jpg" %}" width=100>
                  <a class='navbar-brand' href='#'>現正播出{{tv.name}}</a><br>
                    {% if hour > 18 %}
                     晚安
                    {% elif hour < 10 %}
                     早安
                     {% else  %}
                     你好，歡迎收看~~~
                    {% endif %}
                
            </div>
                    <ul class='nav navbar-nav'>
                        <li class='active'><a href='/'>Home</a></li>
                        {% for t in tv_list %}
                         <li>
                         <a href='{% url 'tv-url' forloop.counter0 %}'>
                         {{ t.name }}
                         </a>
                         </li>
                        {% endfor %}
                    </ul>
        </div>
    </nav>
        <div class='conatiner'>
            <div id='tvcode' align='center'>
                <iframe width="560" 
                        height="315"
                        src="https://www.youtube.com/embed/{{tv.tvcode}}?autoplay=1" 
                        frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class='panel panel-default'>
            <div class='panel-footer'><em>{{ now }}</div>
        </div>
  
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" 
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" 
            crossorigin="anonymous">
    </script>
 </body>
 </html>

