
 <!-- header.html (Model_DB project) -->
 <nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <div class='navbar-brand' align=center>
                    NTU手機賣場
            </div>
        </div>
        <ul class='nav navbar-nav'>
            <li class='active'><a href='/'>Home</a></li>
            <li><a href='/admin'>後台管理</a></li>
        </ul>
    </div>
 </nav>